<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">SmartHealth :: Purchase Order</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>Dear Mavuxo Limited,</p>
        <p>The purchase order (PO-00001) is attached with this email.</p>
        <p>An overview of the purchase order is available below:</p>
        <p>----------------------------------------------------------------------------------------</p>
        <p>Purchase Order # : PO-00001</p>
        <p>----------------------------------------------------------------------------------------</p>
        <p>Order Date : 18 Dec 2020 Amount : KES79,248.00(in KES)</p>
        <p>----------------------------------------------------------------------------------------</p>
        <p>Please go through it and confirm the order. We look forward to working with you again</p>
        <br/>
        <p>Regards,</p>
        <p>kelsas</p>
        <p>Edge Genics Health</p>
    </body>
</html>